:root {
  --mainBlue: #19171a;
  --lightBlue: rgb(81, 55, 177);
  --mainWhite: #ffffff;
  --mainDark: rgb(43, 43, 43);
  --mainYellew: rgb(54, 54, 54);
  --mainRed: #9e2828;
}
body {
  font-family: "lato", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "lato", sans-serif;
}
.text-blue {
  color: var(--lightBlue);
}
.text-red {
  color: var(--mainRed);
}
.text-bright {
  color: var(--lightBlue);
}
.text-gray {
  color: var(--mainYellew);
}
section {
  min-height: 100vh;
}
